<div class="room active" id="day7">
  <h1>Tutoriais</h1>
  <p class="day-description">Tutoriais são treinamentos de 2 a 8 horas para você se tornar um Jedi. A chamada de tutoriais já está aberta. <a href="http://speakerfight.com/events/pythonbrasil11-tutoriais/" target="_blank">Clique aqui</a> e envie sua proposta.</p>

  <div class="lecture">
    <p class="title"><time>08:00</time> - Início dos tutoriais</p>
    <p class="speaker">Em breve palestrantes...</p>
  </div>

  <div class="lecture">
    <p class="title"><time>09:00</time> - Coffee Break</p>
  </div>

  <div class="lecture">
    <p class="title"><time>10:00</time> - Retorno dos tutoriais</p>
    <p class="speaker">Em breve palestrantes...</p>
  </div>

  <div class="lecture">
    <p class="title"><time>12:00</time> - Almoço</p>
    <p class="speaker">Em breve grade completa...</p>
  </div>
</div>
