<div class="room" id="day8">
  <h1>Tutoriais</h1>

  <div class="lecture">
    <p class="title"><time>08:00</time> - Início dos tutoriais</p>
    <p class="speaker">
      <table>
            <thead>
                <tr>
                    <th>Auditório</th>
                    <th>Sala 1</th>
                    <th>Sala 2</th>
                    <th>Sala 3</th>
                    <th>Sala 4</th>
                    <th>Sala 5</th>
                    <th>Sala 6</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Unicode prático: de A a Ω (Luciano Ramalho)</td>
                    <td>Nas nuvens com python, scaling, Docker e Aws (Rondineli)</td>
                    <td>criando um microblog com flask (Marcos ptf)</td>
                    <td>Docker e Python - Do 'mkdir' ao deploy (rcelha)</td>
                    <td>SRE Classroom: Non-Abstract Large System Design (Rodolphoeck)</td>
                    <td>Desenvolvendo seu Primeiro “Data Product” com Python e Google Cloud Platform (Fabio5)</td>
                    <td>Palestras  Django Girls</td>
                </tr>
            </tbody>
        </table>
    </p>
  </div>

  <div class="lecture">
    <p class="title"><time>09:00</time> - Coffee Break</p>
  </div>

  <div class="lecture">
    <p class="title"><time>10:00</time> - Retorno dos tutoriais</p>
    <p class="speaker">
      <table>
        <thead>
            <tr>
                <th>Auditório</th>
                <th>Sala 1</th>
                <th>Sala 2</th>
                <th>Sala 3</th>
                <th>Sala 4</th>
                <th>Sala 5</th>
                <th>Sala 6</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;---&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td>Web scraping na nuvem (Elias Dorneles)</td>
                <td>@comunidade (Fernando Masanori)</td>
                <td> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;---&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;---&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;---&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;---&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
            </tr>
        </tbody>
    </table>

    </p>
  </div>

  <div class="lecture">
    <p class="title"><time>12:00</time> - Almoço</p>
    <p class="speaker">
      

    </p>
  </div>
</div>
  <div class="lecture">
    <p class="title"><time>13:00</time> - Almoço</p>
    <p class="speaker">
            <table>
        <thead>
            <tr>
                <th>Auditório</th>
                <th>Sala 1</th>
                <th>Sala 2</th>
                <th>Sala 3</th>
                <th>Sala 4</th>
                <th>Sala 5</th>
                <th>Sala 6</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td> Data Wrangling (David Beasley)</td>
                <td>Introdução a Python e Desenvolvimento de Jogos (João Sebastião)</td>
                <td>Modelando seu Negócio com Software Livre (Nick Vidal)</td>
                <td> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;---&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td> Do zero ao Deploy - Fazendo Deploy de aplicações Python (ervilis)</td>
                <td> Introdução à programação de jogos e à física de jogos com Python (Fabio6)</td>
                <td> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;---&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
            </tr>
        </tbody>
    </table>
      
    </p>
  </div>
</div>