<section class="about">
  <div class="row">
    <div class="conference">
      <img src="images/conference.svg" alt="Conference">

      <div class="content">
        <h1>Conferência</h1>
        <p>A PythonBrasil reúne centenas de pessoas durante 5 dias para discutir sobre software livre, práticas de desenvolvimento e Python.</p>
      </div>
    </div>

    <div class="staff">
      <img src="images/staff.svg" alt="Conference">

      <div class="content">
        <h1>Organização</h1>
        <p>A PythonBrasil 2015 é organizada pelo Grupo de Usuários de Python de São José dos Campos/SP com ajuda da Apyb (Associação PythonBrasil).</p>
      </div>
    </div>
  </div>
</section>
