<section class="location" id="location">
  <div class="row">
    <img src="images/maps.svg" alt="Maps">

    <h1>Novotel - São José dos Campos/SP</h1>
    <p><a href="http://bit.ly/novotel-sjc" target="_blank" class="link">Veja como chegar ao local</a> | <a href="http://www.novotel.com/gb/hotel-0472-novotel-sao-jose-dos-campos/index.shtml" target="_blank" class="link">Acesse o site do Hotel</a></p>
  </div>

  <div class="row rates">
    <div class="tax">
      <h2>HOSPEDAGENS EM 6 E 7 DE NOVEMBRO</h2>
      <p>
        Quarto individual – R$ 201 + 5% ISS<br>
        Quarto duplo – R$ 231 + 5% ISS
      </p>
    </div>

    <div class="tax">
      <h2>HOSPEDAGENS EM 8 A 11 DE NOVEMBRO</h2>
      <p>
        Quarto individual – R$ 225 + 5% ISS<br>
        Quarto duplo – R$ 255 + 5% ISS
      </p>
    </div>
  </div>
</section>
