<section class="schedule" id="schedule">
  <div class="row">
    <h1>Programação</h1>
    <p class="schedule-description">07 e 08 - Tutoriais | 09 e 10 - Palestras | 11 - Sprints</p>

    <nav class="days">
      <ul class="list">
        <li class="item">
          <a href="#day7" class="item-link active">Dia 7</a>
        </li>

        <li class="item">
          <a href="#day8" class="item-link">Dia 8</a>
        </li>

        <li class="item">
          <a href="#day9" class="item-link">Dia 9</a>
        </li>

        <li class="item">
          <a href="#day10" class="item-link">Dia 10</a>
        </li>

        <li class="item">
          <a href="#day11" class="item-link">Dia 11</a>
        </li>
      </ul>
    </nav>

    <div class="room active" id="day7">
      <h1>Tutoriais</h1>
      <p class="day-description">Tutoriais são treinamentos de 2 a 8 horas para você se tornar um Jedi :)</p>

      <div class="lecture">
        <p class="title"><time>08:00</time> - Início dos tutoriais</p>
        <p class="speaker">Em breve palestrantes...</p>
      </div>

      <div class="lecture">
        <p class="title"><time>09:00</time> - Coffee Break</p>
      </div>

      <div class="lecture">
        <p class="title"><time>10:00</time> - Retorno dos tutoriais</p>
        <p class="speaker">Em breve palestrantes...</p>
      </div>

      <div class="lecture">
        <p class="title"><time>12:00</time> - Almoço</p>
        <p class="speaker">Em breve grade completa...</p>
      </div>
    </div>

    <div class="room" id="day8">
      <h1>Tutoriais</h1>
      <p class="day-description">Tutoriais são treinamentos de 2 a 8 horas para você se tornar um Jedi :)</p>

      <div class="lecture">
        <p class="title"><time>08:00</time> - Início dos tutoriais</p>
        <p class="speaker">Em breve palestrantes...</p>
      </div>

      <div class="lecture">
        <p class="title"><time>09:00</time> - Coffee Break</p>
      </div>

      <div class="lecture">
        <p class="title"><time>10:00</time> - Retorno dos tutoriais</p>
        <p class="speaker">Em breve palestrantes...</p>
      </div>

      <div class="lecture">
        <p class="title"><time>12:00</time> - Almoço</p>
        <p class="speaker">Em breve grade completa...</p>
      </div>
    </div>

    <div class="room" id="day9">
      <h1>Palestras</h1>
      <p class="day-description">Palestras de 35 a 50 minutos com palestrantes renomados da comunidade.</p>

      <div class="lecture">
        <p class="title"><time>08:00</time> - Início das palestras</p>
        <p class="speaker">Em breve palestrantes...</p>
      </div>

      <div class="lecture">
        <p class="title"><time>09:00</time> - Coffee Break</p>
      </div>

      <div class="lecture">
        <p class="title"><time>10:00</time> - Retorno das palestras</p>
        <p class="speaker">Em breve palestrantes...</p>
      </div>

      <div class="lecture">
        <p class="title"><time>12:00</time> - Almoço</p>
        <p class="speaker">Em breve grade completa...</p>
      </div>
    </div>

    <div class="room" id="day10">
      <h1>Palestras</h1>
      <p class="day-description">Palestras de 35 a 50 minutos com palestrantes renomados da comunidade.</p>

      <div class="lecture">
        <p class="title"><time>08:00</time> - Início das palestras</p>
        <p class="speaker">Em breve palestrantes...</p>
      </div>

      <div class="lecture">
        <p class="title"><time>09:00</time> - Coffee Break</p>
      </div>

      <div class="lecture">
        <p class="title"><time>10:00</time> - Retorno das palestras</p>
        <p class="speaker">Em breve palestrantes...</p>
      </div>

      <div class="lecture">
        <p class="title"><time>12:00</time> - Almoço</p>
        <p class="speaker">Em breve grade completa...</p>
      </div>
    </div>

    <div class="room" id="day11">
      <h1>Sprints</h1>
      <p class="day-description">Desenvolvimento e contribuição para projetos open source. Participe!</p>

      <div class="lecture">
        <p class="title"><time>08:00</time> - Início das atividades</p>
        <p class="speaker">Em breve palestrantes...</p>
      </div>

      <div class="lecture">
        <p class="title"><time>09:00</time> - Coffee Break</p>
      </div>

      <div class="lecture">
        <p class="title"><time>10:00</time> - Retorno das atividades</p>
        <p class="speaker">Em breve palestrantes...</p>
      </div>

      <div class="lecture">
        <p class="title"><time>12:00</time> - Almoço</p>
        <p class="speaker">Em breve grade completa...</p>
      </div>
    </div>
  </div>
</section>
