<section class="sponsors" id="sponsors">
  <div class="row">
    <h1>Patrocinadores</h1>

    <ul class="sponsors-list">
      <li class="item">
        <a href="http://luizalabs.com/" target="_blank" class="item-link">
          <p class="category">Diamond</p>

          <div class="imgs">
            <img src="images/sponsors/diamond/luiza-labs.png" alt="Luiza Labs">
          </div>
        </a>
      </li>

      <li class="item">
        <a href="http://www.globo.com/" target="_blank" class="item-link">
          <p class="category">Gold</p>

          <div class="imgs">
            <img src="images/sponsors/gold/globo.com.svg" alt="Globo.com">
          </div>
        </a>
      </li>

      <li class="item">
        <a href="http://scrapinghub.com/" target="_blank" class="item-link">
          <p class="category">Gold</p>

          <div class="imgs">
            <img src="images/sponsors/gold/scrapinghub.png" alt="scrapinghub.com">
          </div>
        </a>
      </li>

      <li class="item">
        <a href="http://www.thoughtworks.com/pt/" target="_blank" class="item-link">
          <p class="category">Silver</p>

          <div class="imgs">
            <img src="images/sponsors/silver/thoughtworks.svg" alt="Thoughtworks">
          </div>
        </a>
      </li>

      <li class="item">
        <a href="http://www.toptal.com/" target="_blank" class="item-link">
          <p class="category">Silver</p>

          <div class="imgs">
            <img src="images/sponsors/silver/toptal.svg" alt="TopTal">
          </div>
        </a>
      </li>

      <li class="item">
        <a href="http://evolux.net.br/" target="_blank" class="item-link">
          <p class="category">Silver</p>

          <div class="imgs">
            <img src="images/sponsors/silver/evolux.svg" alt="Evolux">
          </div>
        </a>
      </li>

      <li class="item">
        <a href="https://www.axado.com.br/" target="_blank" class="item-link">
          <p class="category">Silver</p>

          <div class="imgs">
            <img src="images/sponsors/silver/axado.png" alt="Axado">
          </div>
        </a>
      </li>

      <li class="item">
        <a href="http://www.imaxbrasil.com.br/" target="_blank" class="item-link">
          <p class="category">Silver</p>

          <div class="imgs">
            <img src="images/sponsors/silver/imax.png" alt="iMax">
          </div>
        </a>
      </li>

      <li class="item">
        <a href="http://designa.com.br/" target="_blank" class="item-link">
          <p class="category">Silver</p>

          <div class="imgs">
            <img src="images/sponsors/silver/designa.svg" alt="Designa">
          </div>
        </a>
      </li>

      <li class="item">
        <a href="http://www.znc.com.br" target="_blank" class="item-link">
          <p class="category">Silver</p>

          <div class="imgs">
            <img src="images/sponsors/silver/znc.svg" alt="ZNC">
          </div>
        </a>
      </li>

      <li class="item">
        <a href="https://www.djangoproject.com/" target="_blank" class="item-link">
          <p class="category">Bronze</p>

          <div class="imgs">
            <img src="images/sponsors/silver/django.svg" alt="Django Project">
          </div>
        </a>
      </li>

      <li class="item no-sponsor">
        <img src="images/sponsor.svg" alt="Sponsor">

        <p><a href="http://bit.ly/pybr11-midia-kit-pt-br" target="_blank" class="link">Clique aqui</a> e seja um patrocinador da Python Brasil 2015.</p>
      </li>
    </ul>
  </div>
</section>
