<section class="sponsors" id="sponsors">
  <div class="row">
    <h1>Patrocinadores</h1>

 <ul class="sponsors-list">
 <li> Eric Hideki (Sampa)</li>
 <li> Marina Ribeiro (Rio)</li>
 <li> Renzo Nuccitelli (SJC)</li>
 <li> Cláudio Berrondo (Rio)</li>
 <li> Júlio Melanda (SJC)</li>
 <li> Carlos Eduardo de Oliveira (Hacker Clube/SJC)</li>
 <li> Carlos Eduardo Leite [cadu]  (SJC)</li>
 <li> Renato Oliveira (Recife)</li>
 <li> Felipe Ximenes [Xima]  (Recife)</li>
 <li> Luiz Vital (SJC)</li>
 <li> Thiago Avelino [XXXLinus]  (Sampa)</li>
 <li> Fábio Barrionuevo (Palmas)</li>
 <li> Denis Costa (SJC)</li>
 <li> Michel Amaral (Pinda)</li>
 <li> Robson Junior (Sampa)</li>
 <li> Fábio Luis (Hacker Clube/SJC)</li>
 <li> Verônica (Django Girls/SJC)</li>
 <li> Lidiane (Recife)</li>
 <li> Ricardo Savi (SJC)</li>
 <li> Roger (SJC)</li>
 <li> Josiane (SJC)</li>
 <li> José Thomazini [Thomaz]  (SJC)</li>
 <li> Marcelo Tambalo (SJC)</li>
 <li> Guto Maia (Sampa)</li>
 <li> Luciano Ramalho (Sampa)</li>
 <li> Arakaki (Fatec/SJC)</li>
 <li> Sakawe (Fatec/SJC)</li>
 <li> Massanori (SJC)</li>
 <li> Marcelo Nunes (CECOPI/SJC)</li>
 <li> Diego Nicolau (SJC)</li>
 <li> Mauro Assis [Maurão]  (Hacker Clube/SJC)</li>
 <li> Alex Porto (Hacker Clube/SJC)</li>
 <li> Paula Granjeiro (DjangoGirls/Rio)</li>
 <li> Tânia Andrea (Brasília)</li>
 <li> Estefânia (Django Girls / SJC)</li>
 <li> Erico Andrei (Sampa)</li>
 <li> Joao Bueno [JS]  (Campinas)</li>
 </ul>
</div>

</section>
