
 - Eric Hideki (Sampa)
 - Marina Ribeiro (Rio)
 - Renzo Nuccitelli (SJC)
 - Cláudio Berrondo (Rio)
 - Júlio Melanda (SJC)
 - Carlos Eduardo de Oliveira (Hacker Clube/SJC)
 - Carlos Eduardo Leite [cadu]  (SJC)
 - Renato Oliveira (Recife)
 - Felipe Ximenes [Xima]  (Recife)
 - Luiz Vital (SJC)
 - Thiago Avelino [XXXLinus]  (Sampa)
 - Fábio Barrionuevo (Palmas)
 - Denis Costa (SJC)
 - Michel Amaral (Pinda)
 - Robson Junior (Sampa)
 - Fábio Luis (Hacker Clube/SJC)
 - Verônica (Django Girls/SJC)
 - Lidiane (Recife)
 - Ricardo Savi (SJC)
 - Roger (SJC)
 - Josiane (SJC)
 - José Thomazini [Thomaz]  (SJC)
 - Marcelo Tambalo (SJC)
 - Guto Maia (Sampa)
 - Luciano Ramalho (Sampa)
 - Arakaki (Fatec/SJC)
 - Sakawe (Fatec/SJC)
 - Massanori (SJC)
 - Marcelo Nunes (CECOPI/SJC)
 - Diego Nicolau (SJC)
 - Mauro Assis [Maurão]  (Hacker Clube/SJC)
 - Alex Porto (Hacker Clube/SJC)
 - Paula Granjeiro (DjangoGirls/Rio)
 - Tânia Andrea (Brasília)
 - Estefânia (Django Girls / SJC)
 - Erico Andrei (Sampa)
 - Joao Bueno [JS]  (Campinas)

 - Instrutores dos tutoriais.
 - Palestrantes
 - Patrocinadores
