<section class="volunteers">
  <div class="row">
    <h1>Voluntários</h1>
    <ul>
      <li><a href="https://twitter.com/erichideki">Eric Hideki (Sampa)</a></li>
      <li>Marina Ribeiro (Rio)</li>
      <li><a href="https://twitter.com/renzoprobr">Renzo Nuccitelli (SJC)</a></li>
      <li>Cláudio Berrondo (Rio)</li>
      <li><a href="https://twitter.com/jcemelanda">Júlio Melanda (SJC)</a></li>
      <li>Carlos Eduardo de Oliveira (Hacker Clube/SJC)</li>
      <li>Carlos Eduardo Leite [cadu]  (SJC)</li>
      <li>Renato Oliveira (Recife)</li>
      <li>Felipe Ximenes [Xima]  (Recife)</li>
      <li>Luiz Vital (SJC)</li>
      <li><a href="https://twitter.com/avelino0">Thiago Avelino [XXXLinus] (Sampa)</a></li>
      <li>Fábio Barrionuevo (Palmas)</li>
      <li><a href="https://twitter.com/deniscostadsc">Denis Costa (SJC)</a></li>
      <li><a href="https://twitter.com/michelamaral"></a>Michel Amaral (Designa / Pinda)</li>
      <li><a href="https://twitter.com/bsao">Robson Junior (Sampa)</a></li>
      <li>Fábio Luis (Hacker Clube/SJC)</li>
      <li>Verônica (Django Girls/SJC)</li>
      <li>Lidiane (Recife)</li>
      <li>Ricardo Savi (SJC)</li>
      <li>Roger (SJC)</li>
      <li><a href="https://twitter.com/jmscarpa">João Mateus Scarpa (Designa / Taubaté)</a></li>
      <li>Josiane (SJC)</li>
      <li>José Thomazini [Thomaz]  (SJC)</li>
      <li>Marcelo Tambalo (SJC)</li>
      <li>Guto Maia (Sampa)</li>
      <li><a href="https://twitter.com/ramalhoorg">Luciano Ramalho (Sampa)</a></li>
      <li>Arakaki (Fatec/SJC)</li>
      <li>Sakawe (Fatec/SJC)</li>
      <li><a href="https://twitter.com/fmasanori">Massanori (SJC)</a></li>
      <li>Marcelo Nunes (CECOMPI/SJC)</li>
      <li>Diego Nicolau (SJC)</li>
      <li>Mauro Assis [Maurão]  (Hacker Clube/SJC)</li>
      <li>Alex Porto (Hacker Clube/SJC)</li>
      <li>Paula Granjeiro (DjangoGirls/Rio)</li>
      <li><a href="https://twitter.com/taniaandrea_com"></a> Tânia Andrea (Brasília)</li>
      <li>Estefânia (Django Girls / SJC)</li>
      <li>Erico Andrei (Sampa)</li>
      <li>Joao Bueno [JS]  (Campinas)</li>
    </ul>
  </div>
</section>
