<section class="welcome">
  <div class="row">
    <header class="header">
      <div class="logo">
        <h1>
          <img src="images/logo.svg" alt="Logo">
          <span><strong>Python</strong>Brasil 2015</span>
        </h1>
      </div>

      <nav class="menu">
        <span class="trigger"><i></i></span>

        <ul class="list">
          <li class="item">
            <a href="#" class="item-link">Sobre</a>
          </li>

          <li class="item">
            <a href="#speakers" class="item-link">Palestrantes</a>
          </li>

          <li class="item">
            <a href="#location" class="item-link">Local</a>
          </li>

          <li class="item">
            <a href="#schedule" class="item-link">Programação</a>
          </li>

          <li class="item">
            <a href="#sponsors" class="item-link">Patrocinadores</a>
          </li>
        </ul>
      </nav>
    </header>

    <article class="info">
      <h1>11ª conferência brasileira da comunidade Python</h1>

      <h2>7 a 11 de novembro</h2>
      <p>Novohotel - São José dos Campos/SP</p>

      <a href="#" class="register">Abertura das inscrições em breve</a>
    </article>
  </div>
</section>
