.welcome {
  @include background("../images/background.jpg", cover, center top);
  position: relative;

  &:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(37, 140, 246, .75);
  }

  .header {
    position: relative;
    display: table;
    width: 100%;
    padding: 2em 0;
    border-bottom: solid 1px rgba(255, 255, 255, 0.5);

    .logo {
      @extend .fit;
      width: 30%;
      float: left;

      img, span {
        vertical-align: middle;
      }

      img {
        width: 1.5em;
        margin-right: .5em;
      }

      span {
        font-size: .7em;
        font-family: "Panton Light";

        strong {
          font-family: "Panton Bold";
        }
      }
    }

    .menu {
      width: 70%;
      float: right;
      text-align: right;

      .list {
        display: inline-block;
        text-align: left;
        list-style: none;
        margin: 0 -1em;

        .item {
          display: inline-block;

          .item-link {
            display: inline-block;
            font-family: "Panton Bold";
            color: #fff;
            text-decoration: none;
            margin: 1em;

            &:hover, .active {
              color: $orange;
            }
          }
        }
      }
    }

    @media(max-width: 1023px) {
      .logo {
        width: 100%;
        margin-bottom: 20px;
        text-align: center;
      }

      .menu {
        width: 100%;
        text-align: center;
      }
    }
  }

  .info {
    position: relative;
    padding: 8em 0 4em 0;

    h1 {
      font-size: 3.5em;
      font-family: "Panton Light";
    }

    h2 {
      font-size: 2em;
      margin-top: 2em;
    }

    h3 {
      font-size: 1em;
    }

    p {
      font-family: "Panton Light";
      margin: .5em 0 2em 0;
    }

    .register {
      @extend .btn;
    }
  }
}
