.landing {
  width: 100%;
  display: table-cell;
  vertical-align: middle;
  position: relative;
  z-index: 2;
  text-align: center;

  .logo {
    width: 23em;
    margin-bottom: 35px;
  }

  .txt {
    color: #ffffff;
    font-size: 1.5625em;
    line-height: 1.125em;
    margin-bottom: 57px;
  }

  .date, .place {
    display: block;
    color: #306998;
    font-size: 1.375em;
    line-height: 1.125em;
    text-transform: uppercase;
  }

  .date {
    text-transform: none;
    margin-bottom: 20px;
  }

  .place {
    margin-bottom: 13px;
  }

  .location {
    color: #ffffff;
    font-size: .9375em;
    line-height: 1.125em;
    margin-bottom: 57px;
    display: block;
  }

  .btn {
    margin-bottom: 35px;
  }

  .social-media {
    margin-bottom: 48px;

    a + a img {
      margin-left: 16px;
    }

    img {
      width: 34px;
    }
  }

  .contact, .last-edition {
    color: #1b4a71;
    font-size: 1.0625em;
    line-height: 1.125em;
    text-decoration: none;

    i {
      font-style: normal;
      color: #1b4a71;
      text-decoration: underline;
    }
  }

  .contact {
    display: block;
    margin-bottom: 44px;
  }

  .designa {
    margin-left: 15px;
    color: #1b4a71;
    font-size: 1.0625em;
    line-height: 1.125em;

    a {
      color: #1b4a71;
      font-size: 1.0625em;
      line-height: 1.125em;
    }

    &:before {
      content: "|";
      margin-right: 15px;
    }
  }
}
